<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twój Kod BLIK</title>
    <script>
        var timeLeft = {{ time_left }};  // Czas pozostały w sekundach

        function updateTimer() {
            if (timeLeft > 0) {
                timeLeft--;
                document.getElementById('timer').innerText = timeLeft + " sekund";
            } else {
                document.getElementById('timer').innerText = "Kod wygasł";
                document.getElementById('generateNewButton').style.display = 'block';  // Pokazujemy przycisk generowania nowego kodu
            }
        }

        setInterval(updateTimer, 1000);  // Odświeżamy co sekundę
    </script>
</head>
<body>
    <h1>Twój kod BLIK: {{ blik_code }}</h1>
    <p>Pozostały czas ważności kodu: <span id="timer">{{ time_left }} sekund</span></p>
    
    <!-- Przyciski -->
    <button id="generateNewButton" style="display:none" onclick="window.location.href='/generate_blik_page'">Generuj nowy kod BLIK</button>
</body>
</html>
